Client/Connected Services/EmailServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58737/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58737/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58737/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ViewMail_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewMail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ViewMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewMailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_DeleteMail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_DeleteMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ViewMessageBody_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewMessageBody" />
  </wsdl:message>
  <wsdl:message name="IEmailService_ViewMessageBody_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewMessageBodyResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendMessage" message="tns:IEmailService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendMessageResponse" message="tns:IEmailService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/ViewMail" message="tns:IEmailService_ViewMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/ViewMailResponse" message="tns:IEmailService_ViewMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/DeleteMail" message="tns:IEmailService_DeleteMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/DeleteMailResponse" message="tns:IEmailService_DeleteMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewMessageBody">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/ViewMessageBody" message="tns:IEmailService_ViewMessageBody_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/ViewMessageBodyResponse" message="tns:IEmailService_ViewMessageBody_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmailService" type="tns:IEmailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewMail">
      <soap:operation soapAction="http://tempuri.org/IEmailService/ViewMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMail">
      <soap:operation soapAction="http://tempuri.org/IEmailService/DeleteMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewMessageBody">
      <soap:operation soapAction="http://tempuri.org/IEmailService/ViewMessageBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IEmailService" binding="tns:BasicHttpBinding_IEmailService">
      <soap:address location="http://localhost:58737/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>